.foto img {

	width:35%;
	height:70%; 


}
html{
	background-image:url(bcktime.jpg);
	background-width:auto;
	background-size:cover;
	font-family:verdana, sans-serif;
}
span{
	padding-left:200px;
	position: relative;
	top:100px;
}
.text{
	width:400px;
	position:relative;
	right:-630px;
	top:-350px;
	margin-left:10%;
	height:100px;	
}
h4{
	color:white;
	text-align: center;
	font-size:18px;
	color:snow;
	text-shadow: 2px 2px 2px black
}
img{
	box-shadow: -1px -1px 9px white;
}
iframe{
	position:relative;
	top:130px;
	left:-415px;
}
h1{
	color:snow;
	position:relative;
	top:-390px;
	left:-390px;
	font-size:300%;
	text-shadow: 2px 2px 2px black
}
