.foto img {

	width:30%;
	height:60%; 
}
html{
	background-image:url(bcktime.jpg);
	background-width:auto;
	background-size:cover;
	font-family:verdana, sans-serif;

}
span{
	margin-left:5em;
	position: relative;
	top:100px;
}
.text{
	position:relative;
	right:-630px;
	top:-570px;
	margin-left:7%;
	height:260px;
}
h4{
	color:white;
	text-align: justify;
	font-size:1.55em;
	color:snow;
	text-shadow: 2px 2px 2px black;
}
img{
	box-shadow: -1px -1px 9px purple;
	margin-top:5em;

}
iframe{
	position:relative;
	top:200px ;
	float: right;
	margin-right:8em;
	margin-top:0.5em;
	box-shadow: -1px -1px 9px purple;
}
h1{
	color:snow;
	position:relative;
	text-align: center;
	font-size:5em;
	text-shadow: 2px 2px 2px black
}
